body {
  margin: 0;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 30px;
}
a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

ul {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
  padding-bottom: 0;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ul {
  padding-left: 33px;
}
#grid article {
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 0;
}
/*screen width < 800px 조건추가*/
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  ul {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
